:root
{
	--SquareDimension:200px;
	--BorderSize:5px;
	--BorderRadius:15px;
	--PositionOfTheSecondSquare:calc(var(--SquareDimension) / 2 - var(--BorderSize));
}
.MyImage
{
	transform: translate(0px,10px);
	width: var(--SquareDimension);
	height:var(--SquareDimension);
	border-radius:var(--BorderRadius);
	border:var(--BorderSize)solid #000;	
	background:#f1b583;
}
.MyImage:after
{
	transform:translate(var(--PositionOfTheSecondSquare),var(--PositionOfTheSecondSquare));
	display:block;
	content:"";
	width:var(--SquareDimension);
	height:var(--SquareDimension);
	border:var(--BorderSize) solid #000;
	border-radius:var(--BorderRadius);
	background:#ca9a98;
	mix-blend-mode:multiply;
}